# Actividad en Clase 1

In [ ]:
%pip install numpy pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("./tested.csv")
df.head()

In [ ]:
df.describe()

## Tamaño del Dataset
Para el tamaño del se usa el atributo shape, que muestra la cantidad de filas y de columnas en una tupla

In [ ]:
rows, columns = df.shape
print(f"Rows: {rows}, Columns: {columns}")

## Tipos de Dato de Cada Columna

In [ ]:
df.dtypes

# Limpieza de datos

In [ ]:
new_df = df.drop(labels=["PassengerId", "Name", "Ticket", "Cabin"], axis=1)
new_df.head()

## Valores nulos en el campo "Age"

In [ ]:
new_df["Age"].isnull().sum()

86 valores nulos

## Reemplazando valores nulos en el dataframe

In [ ]:
age_mean = new_df["Age"].median()
new_df["Age"].fillna(age_mean, inplace=True)
new_df["Age"].isnull().sum()

## Valores nulos en el campo "Embarked"

In [ ]:
new_df["Embarked"].isnull().sum()

## Moda de Embarked

In [ ]:
new_df["Embarked"].mode()

# Filtrado y Transformación

In [ ]:
import numpy as np

## Crear columna family_size

In [ ]:
new_df["family_size"] = new_df["SibSp"] + new_df["Parch"]
new_df["family_size"].head()

In [ ]:
sex_mode = new_df["Sex"].mode()[0]
new_df["Sex"].fillna(sex_mode, inplace=True)
new_df["Sex"].isnull().sum()

## Filtrar los menores de edad

In [ ]:
under_age_df = new_df[new_df["Age"] < 18]
under_age_df.head()

## Cambiar el tipo de dato de la columna de sexo

In [ ]:
under_age_df["Sex"].isnull().count()

Acá se rellenan los datos nulos de la columna de sexo por la moda de esta columna

In [ ]:
sex_mode = under_age_df["Sex"].mode()[0]
under_age_df["Sex"].fillna(sex_mode, inplace=True)
under_age_df["Sex"].isnull().sum()

In [ ]:
under_age_df["Sex"] = under_age_df["Sex"].map({'male': 1, 'female': 0})
under_age_df["Sex"] = under_age_df["Sex"].astype(np.int8)
under_age_df["Sex"].head()

## Total de menores de edad en el Titanic

In [ ]:
under_age_rows, under_age_cols = under_age_df.shape
print(f"rows: {under_age_rows}")

Habia un total de 41 menores de edad en el Titanic

## Pasajeros que viajaban solos

In [ ]:
(new_df["family_size"] == 0).sum()

Hay 253 pasajeros que viajan solos

# Agrupamiento y Estadistica

## Edad promedio por Sexo

In [ ]:
new_df.groupby("Sex")["Age"].mean()

La mayor edad promedio la tienen las mujeres con un promedio de 29.73 años

## Edad promedio por clase

In [ ]:
new_df.groupby("Pclass")["Age"].mean()

La mayor edad promedio la tienen los pasajeros de 1era clase con un promedio de 39.75 años

## Tasa de supervivencia por puerta de embarque

In [ ]:
new_df.groupby("Embarked")["Survived"].mean() * 100

Los pasajeros con mayor tasa de supervivencia son los que embarcaron en el puerto Q con un 52.17% de supervivencia

## Tasas de supervivencia por edad

In [ ]:
minors = new_df[new_df["Age"] < 18]
minors_survival_rate = minors["Survived"].mean() * 100
print(f"Minors survival rate: {minors_survival_rate:.2f}%")

In [ ]:
adults = new_df[(new_df["Age"] >= 18) & (new_df["Age"] <= 50)]
adults_survival_rate = adults["Survived"].mean() * 100
print(f"Adults survival rate: {adults_survival_rate:.2f}%")

In [ ]:
elders = new_df[new_df["Age"] > 50]
elders_survival_rate = elders["Survived"].mean() * 100
print(f"Elders Survival Rate: {elders_survival_rate:.2f}%")